@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Adam Brown-Portfolio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @*<meta content="" name="keywords">
    <meta content="" name="description">*@
    <meta property='og:image' content="~/img/hiking.jpg" />
    <meta property='og:description' content="Adam Brown portfolio site" />
    <!-- Favicons -->
    <link href="~/img/letter-512.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    @*Css for syntaxhighlighter*@
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shCoreDefault.css" rel="stylesheet" />
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Main Stylesheet File -->
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- =======================================================
      Template Name: Freelance
      Template URL: https://templatemag.com/freelance-bootstrap-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#gn-menu">
    <!-- ========== MAIN MENU ========== -->
    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li><a href="#home" class="gn-icon gn-icon-home smoothscroll">Home</a></li>
                            <li><a href="#about" class="gn-icon gn-icon-archive smoothscroll">About</a></li>
                            <li><a href="#portfolio" class="gn-icon gn-icon-pictures smoothscroll">Portfolio</a></li>
                            <li><a href="#testimonial" class="gn-icon gn-icon-archive smoothscroll">skills</a></li>
                            <li><a href="#contact" class="gn-icon gn-icon-envelop smoothscroll">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /gn-scroller -->
                </nav>
            </li>
            <li><a href="#home" class="smoothscroll">Adam Brown</a></li>
        </ul>
    </div>
    <!-- /container -->
    <!-- ========== HEADER SECTION ========== -->
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            <div class="col-lg-8">
                <h1> Adam Brown </h1>
                <h1>Full Stack Developer</h1>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->
    <!-- ABOUT SECTION -->

    <section id="about" name="about"></section>
    <div class="container about">
        <div class="col-lg-6 col-lg-offset-3">
            <img src="~/img/EDIT-6704.JPG" style="height: 20vh; border-radius: 70px" />
            <h3>About Adam Brown</h3>
            <h5>WEB DEVELOPER</h5>
            <hr>
            <br>
            <h4>ABOUT ME<br />-</h4>
            <p>
                <b>I'm a Web Developer with an interest in hiking and martial arts. I'm always looking to learn how things work and why they are the way they are. I am interested in a career in web development for its multifaceted and technical nature.</b>
            </p>
        </div>
        <!-- /col-lg-6 -->
    </div>
    <!-- /container -->
    <!-- BEGIN CHART SECTION -->
    <!-- chartwrap -->

    <section id="portfolio" name="portfolio"></section>
    <div id="foliowrap">
        <div class="container">
            <h3>I Create Cool Stuff</h3>
            <br>
            <br>
            <div class="row">

                <!-- PORTFOLIO IMAGE 1 -->
                <div class="col-md-4 ">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive imgStyle" src="~/img/portfolio/js.png" alt="">
                            <figcaption>
                                <h5>Javascript Project</h5>
                                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg sideButton">Take a Look</a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>
                <!-- /col -->
                <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
        a modal for each of your projects. -->

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"> Javascript Project</h4>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-pills">
                                    <li class="active"><a class="pageExit" data-toggle="pill" href="#simpl">Simple Math</a></li>
                                    <li><a class="pageExit" data-toggle="pill" href="#fact">Factorial</a></li>
                                    <li><a class="pageExit" data-toggle="pill" href="#fb">FIZZBUZZ</a></li>
                                    <li><a class="pageExit" data-toggle="pill" href="#pal">Palindrome </a></li>

                                </ul>

                                <div class="tab-content">
                                    <div id="simpl" class="tab-pane fade in active">
                                        <div class=" container-fluid">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <h2>Simple Math problems</h2>
                                                </div>
                                                <div class="row">
                                                    <h4>Enter 5 simple numbers to get the sum, product, average, largesta and smallest values</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <h2>Input</h2>
                                                    <h4>Enter 5 whole numbers</h4>
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 1:</b> <input id="num1" />
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 2:</b> <input id="num2" />
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 3:</b> <input id="num3" />
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 4:</b> <input id="num4" />
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 5:</b> <input id="num5" />
                                                </div>
                                                <div style="padding-top: 10px" class="row">
                                                    <button id="btnNumber" class="btn btn-success btn-small">run</button>
                                                    <button id="smplClear" class="btn btn-danger btn-small">clear</button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <h2><span id="resultHead1">Calculated output</span></h2>
                                                </div>
                                                <div class="row">
                                                    <b><p id="sum"></p></b>
                                                </div>
                                                <div class="row">
                                                    <b>
                                                        <p id="product"></p>
                                                    </b>
                                                </div>
                                                <div class="row">
                                                    <b>
                                                        <p id="average"></p>
                                                    </b>
                                                </div>
                                                <div class="row">
                                                    <b>
                                                        <p id="max"></p>
                                                    </b>
                                                </div>
                                                <div class="row">
                                                    <b>
                                                        <p id="min"></p>
                                                    </b>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <button id="showSimple" class="btn btn-primary">toggle code</button>
                                                </div>
                                                <div id="smplCode" class="row">
                                                    <pre class="brush: js">
                                                        $("#btnNumber").click(() => {
                                                            var num1 = Number($("#num1").val());
                                                            var num2 = Number($("#num2").val());
                                                            var num3 = Number($("#num3").val());
                                                            var num4 = Number($("#num4").val());
                                                            var num5 = Number($("#num5").val());

                                                            if (checkSmpl(num1) || checkSmpl(num2) || checkSmpl(num2) || checkSmpl(num4) || checkSmpl(num5)) {
                                                                $("#sum").text("Invalid entry")
                                                            }
                                                            else {
                                                                var sum = num1 + num2 + num3 + num4 + num5;
                                                                var prod = num1 * num2 * num3 * num4 * num5;
                                                                var avg = sum / 5;
                                                                var max = Math.max(num1, num2, num3, num4, num5)
                                                                var min = Math.min(num1, num2, num3, num4, num5)

                                                                $("#sum").text("The sum of your numbers is: " + sum)
                                                                $("#product").text("The product of your numbers is: " + prod)
                                                                $("#average").text("The average of your numbers is: " + avg)
                                                                $("#max").text("The largest of your numbers is: " + max)
                                                                $("#min").text("The smallest of your numbers is: " + min)
                                                            }

                                                            $("#resultHead1").show();
                                                        })
                                                        const checkSmpl = (val) => {
                                                            console.log(val)
                                                            if (isNaN(val) || val == 0) {
                                                                return true
                                                            }
                                                            else {
                                                                return false
                                                            }
                                                        }
                                                        $("#num1, #num2, #num3, #num4, #num5").on("keypress", function (e) {
                                                            if (e.which < 48 || e.which > 57) {
                                                                e.preventDefault()
                                                            }
                                                        })
                                                        $("#smplClear").click(() => {
                                                            $("#num1").val("");
                                                            $("#num2").val("");
                                                            $("#num3").val("");
                                                            $("#num4").val("");
                                                            $("#num5").val("");

                                                            $("#sum").text("")
                                                            $("#product").text("")
                                                            $("#average").text("")
                                                            $("#max").text("")
                                                            $("#min").text("")
                                                            $("#resultHead1").hide();
                                                        })
                                                        $("#showSimple").click(() => {
                                                            $("#smplCode").toggle()
                                                        })
                                                    </pre>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="fact" class="tab-pane  fade">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <h2>Factorial</h2>
                                                </div>
                                                <div class="row">
                                                    <h4>Enter a number to calculate the factorial</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <h2>Input</h2>
                                                    <h4>Enter a number between 1 and 170</h4>
                                                </div>
                                                <div class="row">
                                                    <b>Enter number:</b> <input id="factIn" />
                                                </div>
                                                <div style="padding-top: 10px" class="row">
                                                    <button id="factorial" class="btn btn-success btn-small">run</button>
                                                    <button id="factClear" class="btn btn-danger btn-small">clear</button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <h2><span id="resultHead2">Calculated output</span></h2>

                                                </div>
                                                <div class="row">
                                                    <p id="factOut"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <button id="showFact" class="btn btn-primary">toggle code</button>
                                                </div>
                                                <div id="factCode" class="row">
                                                    <pre class="brush: js">

                                                        $("#factorial").click(() => {
                                                            var num = Number($("#factIn").val());
                                                            console.log(num)
                                                            var total = 1
                                                            if (num <1 || num>
                                                            170) {
                                                            total = "invalid entry";
                                                            }
                                                            else {
                                                            for (let i = 2; i <= num; i++) {
                                                            total *= i;
                                                            }
                                                            }
                                                            $("#factOut").text(total)
                                                            $("#resultHead2").show();

                                                            })
                                                            $("#factClear").click(() => {
                                                            $("#factIn").val("");

                                                            $("#factOut").text("")
                                                            $("#resultHead2").hide();

                                                            })
                                                            $("#showFact").click(() => {
                                                            $("#factCode").toggle()
                                                            })
                                                            $("#factIn").on("keypress", function(e) {
                                                            if (e.which < 48 || e.which > 57) {
                                                            e.preventDefault()
                                                            }
                                                            else if ($(this).val().length > 2) {
                                                            e.preventDefault()
                                                            }
                                                            })

                                                            $("#factIn").on("keypress", function(e) {
                                                            if (e.which < 48 || e.which > 57) {
                                                            e.preventDefault()
                                                            }
                                                            else if ($(this).val().length > 2) {
                                                            e.preventDefault()
                                                            }
                                                            })

                                                      </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="fb" class="tab-pane fade">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <h2>FIZZ BUZZ calculator</h2>
                                                </div>
                                                <div class="row">
                                                    <h4>Enter numbers to view the what numbers are divisible by you'r values. FIZZ is the first BUZZ is the second. Get both and you have FIZZBUZZ</h4>
                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="row smallpad">
                                                    <h2>Input</h2>
                                                    <h4>Enter 2 numbers between 1 and 100</h4>
                                                </div>
                                                <div class="row smallpad">
                                                    <b>Enter number 1:</b> <input id="fizzIn" />
                                                </div>
                                                <div class="row">
                                                    <b>Enter number 2:</b> <input id="buzzIn" />
                                                </div>
                                                <div style="padding-top: 10px" class="row">
                                                    <button id="fizzBuzz" class="btn btn-success btn-small">run</button>
                                                    <button id="fbClear" class="btn btn-danger btn-small">clear</button>
                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="row">
                                                    <h2><span id="resultHead3">Calculated output</span></h2>
                                                </div>
                                                <div class="row">
                                                    <p id="fbOut"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <button id="showfb" class="btn btn-primary">toggle code</button>
                                                </div>
                                                <div id="fbCode" class="row">
                                                    <pre class="brush: js">

                                                            $("#fizzBuzz").click(() => {
                                                                var num1 = Number($("#fizzIn").val());
                                                                var num2 = Number($("#buzzIn").val());
                                                                var arr = [];
                                                                if (checkFB(num1) || checkFB(num2)) {
                                                                    arr = "invalid entry"
                                                                    $("#fbOut").html(arr)
                                                                }
                                                                else {
                                                                    for (let i = 1; i < 100; i++) {
                                                                        if (i % num1 === 0 && i % num2 === 0) {
                                                                            arr.push('<span class="fizzbuzz">FIZZBUZZ</span>')
                                                                        }
                                                                        else if (i % num1 === 0) {
                                                                            arr.push('<span class="fizz">FIZZ</span>')
                                                                        }
                                                                        else if (i % num2 === 0) {
                                                                            arr.push('<span class="buzz">BUZZ</span>')
                                                                        }
                                                                        else {
                                                                            arr.push(i)
                                                                        }
                                                                    }
                                                                    $("#fbOut").html(arr.join(", "));
                                                                }
                                                                $("#resultHead3").show();

                                                            })
                                                            $("#fizzIn,#buzzIn").on("keypress", function (e) {
                                                                if (e.which < 48 || e.which > 57) {
                                                                    e.preventDefault()
                                                                }
                                                                else if ($(this).val().length > 2) {
                                                                    e.preventDefault()
                                                                }

                                                            })
                                                            $("#showfb").click(() => {
                                                                $("#fbCode").toggle()
                                                            })

                                                            $("#fbClear").click(() => {
                                                                $("#fizzIn").val("");
                                                                $("#buzzIn").val("");

                                                                $("#fbOut").text("")
                                                                $("#resultHead3").hide();
                                                            })
                                                            const checkFB = (val) => {
                                                                if (val > 100 || val === 0) {
                                                                    return true
                                                                } else {
                                                                    return false
                                                                }
                                                            }
                                                    </pre>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="pal" class="tab-pane fade">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <h2>Palindrome</h2>
                                                </div>
                                                <div class="row">
                                                    <h4>Enter a word to test if it is a palindrome. Meaning the word is spelled the same backwards.</h4>
                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="row">
                                                    <h2>Input</h2>
                                                </div>
                                                <div class="row">
                                                    <b>
                                                        Enter a word(case sensitive):
                                                    </b>
                                                    <input id="palIn" />

                                                </div>
                                                <div class="row" style="padding-top: 10px">
                                                    <button id="palondrome" class="btn btn-small btn-success">run</button>
                                                    <button id="palClear" class="btn btn-small btn-danger">clear</button>

                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="row">
                                                    <h2><span id="resultHead4">Calculated output</span></h2>
                                                </div>
                                                <div class="row">
                                                    <p id="palOut"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <button id="showpal" class="btn btn-primary">toggle code</button>
                                                </div>
                                                <div id="palCode" class="row">
                                                    <pre class="brush: js">
                                                        $("#palondrome").click(() => {
                                                            let str = $("#palIn").val()
                                                            var arr = str.split('')
                                                            var j = arr.length - 1
                                                            var check = true
                                                            for (let i = 0; i != j && i< j; i++) {
                                                                if (arr[i] != arr[j]) {
                                                                    check = false
                                                                }
                                                                j--
                                                            }
                                                            $("#palOut").text(check.toString())
                                                            $("#resultHead4").show();

                                                        })
                                                        $("#palIn").on("keypress", function (e) {
                                                            console.log($(this).val())
                                                            if (e.which > 48 && e.which < 57 || e.which == 32) {
                                                                e.preventDefault()
                                                            }

                                                        })
                                                        $("#showfb").click(() => {
                                                            $("#palCode").toggle()
                                                        })
                                                        $("#palClear").click(() => {
                                                            $("#palIn").val("");

                                                            $("#palOut").text("")
                                                            $("#resultHead4").hide();
                                                        })
                                                    </pre>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- PORTFOLIO IMAGE 2 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/portimg1.png" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center; text-align: center" ;>
                                <h3 class="smallmar">Trip-Planner</h3>
                                <a data-toggle="modal" href="#tripModal" class="btn btn-primary btn-lg smallmar">Learn More</a>
                                <a href="https://tipplaner.devmtn-projects.com/#/" target="_blank" class="btn btn-primary btn-lg smallmar">Live Site</a>
                                <a href="https://github.com/adamb5441/Personal_project" target="_blank" class="btn btn-primary btn-lg smallmar">Repository</a>

                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>
                <div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Trip-Planner</h4>
                            </div>
                            <div class="modal-body">

                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="reSizeimg" src="~/img/trip-planner/tp04.jpg" />
                                        </div>

                                        <div class="item">
                                            <img class="reSizeimg" src="~/img/trip-planner/tp05.jpg" />
                                        </div>

                                        <div class="item">
                                            <img class="reSizeimg" src="~/img/trip-planner/tp06.jpg" />
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            The Trip Planner is a full CRUD app made with the PERN stack using Sessions and Auth0 to login and manage information under the profile. The app has a note, calendar and map portion to help stop bad planning!
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /col -->
                <!-- PORTFOLIO IMAGE 3 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/portimg2.png" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>DigiDash</h3>
                                <a data-toggle="modal" href="#digiModal" class="btn btn-primary btn-lg smallmar">Learn More</a>
                                <a href="https://digi-dash.co/" target="_blank" class="btn btn-primary btn-lg smallmar">Live Site</a>
                                <a href="https://github.com/adamb5441/digidash" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>
                <div class="modal fade" id="digiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">DigiDash</h4>
                            </div>
                            <div class="modal-body">

                                <div id="digiCara" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#digiCara" data-slide-to="0" class="active"></li>
                                        <li data-target="#digiCara" data-slide-to="1"></li>
                                        <li data-target="#digiCara" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/digi01.png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/digi02.png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/digi03.png" />
                                        </div>
                                        <div class="item">
                                            <img src="~/img/digi04.png" />
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#digiCara" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#digiCara" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            DigiDash is a replacement home page made to be more useful then your standard search engine screen. With 10 different functional widgets and customization styles. Made with react grid layout and a variety of apis.
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
            <!-- PORTFOLIO IMAGE 4 -->
            <div class="row">
                <div class="col-md-4 ">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/portimg3.png" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>Keyboard Warrior</h3>
                                <a data-toggle="modal" href="#keyModal" class="btn btn-primary btn-lg smallmar">Learn More</a>
                                <a href="https://thekeyboardwarrior.net/#/" target="_blank" class="btn btn-primary btn-lg smallmar">Live Site</a>
                                <a href="https://github.com/adamb5441/ecommerce" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>

                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>

                <div class="modal fade" id="keyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">The Keyboard Warrior</h4>
                            </div>
                            <div class="modal-body">

                                <div id="keyCara" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#keyCara" data-slide-to="0" class="active"></li>
                                        <li data-target="#keyCara" data-slide-to="1"></li>
                                        <li data-target="#keyCara" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/ext (2).jpg" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/ext (3).jpg" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/ext (4).jpg" />
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#keyCara" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#keyCara" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            The Keyboard Warrior is an eCommerce app using both local storage and database carts for a dynamic user experience. Features include search by names, sorting by costs, sorting by alphabet order and bcrypt login.  All so that the user can unleash there inner keyboard warrior!
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <!-- /col -->
                <!-- PORTFOLIO IMAGE 5 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/himalaya-evening.jpg" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>Legend's Blog</h3>
                                <button data-toggle="modal" href="#blogModal" class="btn btn-primary btn-lg smallmar">Learn More</button>
                                <a href="https://thelegendsblog.azurewebsites.net/" target="_blank"><button class="btn btn-primary btn-lg smallmar">Live Site</button></a>
                                <a href="https://github.com/adamb5441/mvcBlog" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>

                <div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Blog</h4>
                            </div>
                            <div class="modal-body">

                                <div id="blogCara" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#blogCara" data-slide-to="0" class="active"></li>
                                        <li data-target="#blogCara" data-slide-to="1"></li>
                                        <li data-target="#blogCara" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/bloglog01.png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/bloglogo02.png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/bloglogo03.png" />
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#blogCara" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#blogCara" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            The Legend's Blog is a .net mvc5 application with a blogpost feed, comment section and 3rd party login.
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <!-- /col -->
                <!-- PORTFOLIO IMAGE 6 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/bugTracker.jpg" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>Bug-Tracker</h3>
                                <button data-toggle="modal" href="#bugModal" class="btn btn-primary btn-lg smallmar">Learn More</button>
                                <a href="https://thebugtracker.azurewebsites.net/" target="_blank"><button class="btn btn-primary btn-lg smallmar">Live Site</button></a>
                                <a href="https://github.com/adamb5441/BugTracker" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                </div>
                <!-- /col -->
                <br>
            </div>

            <div class="modal fade" id="bugModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Bug Tracker</h4>
                        </div>
                        <div class="modal-body">

                            <div id="bugCara" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#bugCara" data-slide-to="0" class="active"></li>
                                    <li data-target="#bugCara" data-slide-to="1"></li>
                                    <li data-target="#bugCara" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/img/Bugtracker/Screenshot_2019-02-12 BugTracker.png" />
                                    </div>

                                    <div class="item">
                                        <img src="~/img/Bugtracker/Screenshot_2019-02-12 BugTracker-1.png" />
                                    </div>

                                    <div class="item">
                                        <img src="~/img/Bugtracker/Screenshot_2019-02-12 BugTracker-2.png" />
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#bugCara" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#bugCara" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        The Bug Tracker is a error managment system made in mvc5. Consisting of Developer, Submitter, Project Manager and Admin roles. 
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="row">
                <div class="col-md-4 ">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/financial.jpg" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>MVC</h3>
                                <button data-toggle="modal" href="#mvcModal" class="btn btn-primary btn-lg smallmar">Learn More</button>
                                <a href="https://finiteplanner.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg smallmar">Live Site</a>
                                <a href="https://github.com/adamb5441/FinancialPlanner" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>

                <div class="modal fade" id="mvcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Finite Website</h4>
                            </div>
                            <div class="modal-body">

                                <div id="mvcCara" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#mvcCara" data-slide-to="0" class="active"></li>
                                        <li data-target="#mvcCara" data-slide-to="1"></li>
                                        <li data-target="#mvcCara" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/Screenshot_2019-03-18 Finite.png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/Screenshot_2019-03-18 Finite(1).png" />
                                        </div>

                                        <div class="item">
                                            <img src="~/img/Screenshot_2019-03-18 https finiteplanner azurewebsites net.png" />
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#mvcCara" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#mvcCara" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Finite is a three part application for finnancial planning. Using a budget tracker to separate by catagory and an account balance with over draft and custom alert.
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <!-- /col -->
                <!-- PORTFOLIO IMAGE 5 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/webapi.png" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>.NET api</h3>
                                <button data-toggle="modal" href="#apiModal" class="btn btn-primary btn-lg smallmar">Learn More</button>
                                <a href="https://finiteapi.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg smallmar">Live Site</a>
                                <a href="https://github.com/adamb5441/WebAPI" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                    <br>
                </div>

                <div class="modal fade" id="apiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">API</h4>
                            </div>
                            <div class="modal-body container-fluid">

                                <div class="row">
                                    <div class="col-md-12">
                                    <img style="width: 100%" src="~/img/Screenshot_2019-03-18 Swagger UI.png" />
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Finite is a three part application for finnancial planning. This Api will be be used by the xamarin mobile app.
                                        </div>
                                    </div>
  


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <!-- /col -->
                <!-- PORTFOLIO IMAGE 6 -->
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/iphone_apps.jpg" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>Xamarin Mobile App</h3>
                                @*<button class="btn btn-primary btn-lg smallmar">Learn More</button>
                        <button class="btn btn-primary btn-lg smallmar">Live Site</button>
                        <a href="https://github.com/adamb5441" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>*@
                                <p>Under Construction</p>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="grid mask">
                        <figure>
                            <img class="img-responsive" src="~/img/vue2.jpg" />
                            <figcaption style="height: auto; display:flex; flex-direction: column; justify-content: center; align-items: center" ;>
                                <h3>Vue.net</h3>
                                @*<button class="btn btn-primary btn-lg smallmar">Learn More</button>
                            <button class="btn btn-primary btn-lg smallmar">Live Site</button>
                            <a href="https://github.com/adamb5441" target="_blank"><button class="btn btn-primary btn-lg smallmar">Repository</button></a>*@
                                <p>Under Construction</p>
                            </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /foliowrap -->
    <!-- /container -->

    <div id="testimonial" style=">
        <div class="container">
            <h1>Skills</h1>
            <br>
            <br>
            <div class="bs-example">
                <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 item">
                                        <img src="~/img/react.png" />
                                        <h2>React</h2>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/img/redux2.png" />
                                        <h2>Redux</h2>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/img/postgres2.png" />
                                        <h2>Postgres</h2>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/img/postman.png" />
                                        <h2>Postman</h2>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 item">
                                        <img src="~/img/smlNode.png" />
                                        <h2>Node</h2>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="~/img/jquery.png" />
                                        <h2>JQuery</h2>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="~/img/mvc.net_-300x160.png" />
                                        <h2>MVC<span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">5</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <section id="contact" name="contact"></section>

    <div id="footerwrap">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3>CONTACT ME</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <p>
                            Feel free to get in touch I hope to speak with you soon!
                        </p>
                    </div>

                    <div class="col-lg-7">
                        <br>
                        @model Portfolio.Models.EmailModel
                        @using (Html.BeginForm())
                        {
                        @Html.AntiForgeryToken()
                        <form class="contact-form" role="form" method="POST">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Your Name", new { @class = "contactlabel" })
                                <div>
                                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control contactinput", placeholder = "John Doe" })
                                    @Html.ValidationMessageFor(m => m.FromName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Your Email", new { @class = "contactlabel" })
                                <div>
                                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control contactinput", placeholder = "example@email.com" })
                                    @Html.ValidationMessageFor(m => m.FromEmail)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Subject", new { @class = "contactlabel" })
                                <div>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control contactinput", placeholder = "Subject" })
                                    @Html.ValidationMessageFor(m => m.Subject)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Your Message", new { @class = "contactlabel" })
                                <div>
                                    @Html.TextAreaFor(m => m.Body, new { @class = "form-control contactinput", rows = "5", placeholder = "Your Message" })
                                    @Html.ValidationMessageFor(m => m.Body)
                                </div>
                            </div>
                            <div class="contactvalidate"></div>
                            <div class="contactloading"></div>
                            <div class="contacterror-message"></div>
                            <div class="contactsent-message">Your message has been sent. Thank you!</div>

                            <div class="contactform-send contactsend">
                                <button type="submit" class=" contactbutton btn btn-large">Send Message</button>
                            </div>

                        </form>
                        }
                    </div>
                        
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="https://github.com/adamb5441" target="_blank"><i class="fab fa-github socialLinks"></i></a>
                            <a href="https://www.linkedin.com/in/adamb54/" target="_blank"><i class="fab fa-linkedin-in socialLinks"></i></a>
                        </div>
                    </div>
                </div>

            </div>

    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Freelance</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/freelance-bootstrap-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Freelance template by <a href="https://templatemag.com/">TemplateMag</a>.. Customized by Adam Brown
            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/Scripts/JsExercizes.js"></script>
    <script src="~/lib/chart/chart.js"></script>
    <script src="~/lib/classie/classie.js"></script>
    <script src="~/lib/gnmenu/gnmenu.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
